.home-header {
  margin-bottom: 30px;
}

.home-totals {
  margin: 12px 12px 30px 12px;
  padding: 5px;
  border: solid 0px;
  border-radius: 5px;
  color: white;
}
.red {
  color: red;
}

.green {
  color: green;
}

#item-container {
  display: flex;
  position: relative;
}

#items {
  display: flex;
  flex-direction: column;
}

#item-top {
  margin: 0 20px 5px 20px;
  font-weight: bold;
}

#item-button {
  position: absolute;
  right: 20px;
  top: 24px;
}

#item-down {
  display: flex;
  margin: 0 20px;
}

#item-down * {
  margin: 0 20px 0 0;
}

.homeImg {
  margin-top: 50px;
  width: 400px;
}

.img-container {
  background-color: #000;
  display: flex;
  justify-content: center;
}
